:root {
  --pico-font-size: 100%;
}

html,
body,
#root {
  height: 100%;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.settings-container {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.template {
  margin-bottom: 0;
}
